@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* navbar styling */

.navbar {
    background-color: #f1f1f1;
    overflow: hidden;
  }
  
  .logo {
    float: left;
  }
  
  .logo a {
    display: block;
    padding: 20px;
    text-decoration: none;
    color: #333;
  }
  
  .nav-links {
    float: right;
  }
  
  .nav-links a {
    display: inline-block;
    padding: 20px;
    text-decoration: none;
    color: #333;
  }
  
  .nav-links a:hover {
    background-color: #ddd;
  }

  .active {
    background-color: #47C4FC;
  }

/*Carousel styling */

.glide{
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.glide {
  max-width: 600px;
  margin: 0 auto;
}

.carousel_header {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.para_carousel{
  font-size: 1rem;
  margin-bottom: 1rem;
}

.glide__bullets {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.glide__bullet {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #e60a0a;
  margin: 0 6px;
  cursor: pointer;
}

.glide__bullet--active {
  background-color: #e41212;
}

  /* footer styling */

  .footer {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
  }
  
  .footer-links a {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
  }
  
  .footer-links a:hover {
    text-decoration: underline;
  }