@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* navbar styling */

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
  background: linear-gradient(45deg, #3a8bc8, #104698);
}

.logo {
  font-size: 1.5em;
  color:#f1f1f1;
}

.logo a {
  text-decoration: none;
}

.nav-links a{
  position: relative;
  font-size: 1.1em;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 40px;
}
  
.nav-links a::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background: #fff;
  border-radius: 5px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .5s;
}

.nav-links a:hover::after{
  transform: scaleX(1);
}

/*Image banner Styling*/

body {
  margin: 0;
  padding: 0;
}

.banner-container {
  position: relative;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  font-family: 'Poppins', sans-serif;
  transform: translate(-50%, -50%);
  background-color: #104698;
  padding: 20px;
  color: #fff;
  text-align: center;
}

.overlay-text h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

.overlay-text p {
  font-size: 18px;
  line-height: 1.6;
}

main {
    padding: 2rem;
}

section {
    margin-bottom: 2rem;
}


/*Card Styling */

 
  .about-card {
    width: 100%;
    max-width: 400px; 
    margin: 0 auto;
    background-color: #3a8bc8;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
    font-family:'Poppins', sans-serif;
}


.card-heading {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    font-family:'Poppins', sans-serif;
}


.card-text {
    font-size: 16px;
    line-height: 1.5;
    font-family:'Poppins', sans-serif;
}


/*Carousel styling */

.glide{
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.glide {
  max-width: 600px;
  margin: 0 auto;
}

.carousel_header {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.para_carousel{
  font-size: 1rem;
  margin-bottom: 1rem;
}

.glide__bullets {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.glide__bullet {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #e60a0a;
  margin: 0 6px;
  cursor: pointer;
}

.glide__bullet--active {
  background-color: #e41212;
}

  /* footer styling */

  .footer {
    background: linear-gradient(45deg, #3a8bc8, #104698);
    padding: 20px;
    text-align: center;
    color:#fff;
  }

  .footer-links a {
    margin: 0 10px;
    text-decoration: none;
    color: #fff;
  }
  
  .footer-links a:hover {
    text-decoration: underline;
  }

  .footer p {
    margin-bottom: 0; 
  }
